stages:
    - style
    - build

clang-format:
    image: quay.io/almalinuxorg/almalinux:10
    stage: style
    cache:
      key: dnf-cache
      paths:
        - dnf-cache/
    script: |
          dnf --setopt=cachedir=`pwd`/dnf-cache --assumeyes install git-clang-format
          git clang-format --diff --commit ${CI_MERGE_REQUEST_DIFF_BASE_SHA}
    only:
        - merge_requests

.alpine:
    image: docker.io/alpine:edge
    stage: build
    script: |
          echo "https://ftp.halifax.rwth-aachen.de/alpine/edge/testing/" >> /etc/apk/repositories
          apk update
          apk upgrade
          apk add \
            libc-dev \
            libxkbcommon-dev \
            gcc \
            meson \
            wayland-dev \
            wayland-protocols \
            xwayland-dev \
            scdoc \
            $WLROOTS
          meson setup --fatal-meson-warnings builddir/ -Dgenerate_manpages=enabled
          meson compile -C builddir/ -v
    only:
        - branches
        - merge_requests

alpine-wlroots0.19:
    extends: .alpine
    variables:
        WLROOTS: wlroots0.19-dev

alpine-wlroots0.20:
    extends: .alpine
    variables:
        WLROOTS: wlroots0.20-dev

.fedora:
    image: quay.io/fedora/fedora:rawhide
    stage: build
    cache:
      key: dnf-cache
      paths:
        - dnf-cache/
    script: |
          dnf --setopt=cachedir=`pwd`/dnf-cache --assumeyes --nogpgcheck upgrade fedora-repos fedora-gpg-keys
          dnf --setopt=cachedir=`pwd`/dnf-cache --assumeyes install \
            meson \
            gcc \
            'pkgconfig(scdoc)' \
            'pkgconfig(wayland-client)' \
            'pkgconfig(wayland-cursor)' \
            'pkgconfig(wayland-egl)' \
            'pkgconfig(wayland-protocols)' \
            'pkgconfig(wayland-server)' \
            'pkgconfig(xkbcommon)' \
            'pkgconfig(xwayland)' \
            "$WLROOTS"
          meson setup --fatal-meson-warnings builddir/ -Dgenerate_manpages=enabled
          meson compile -C builddir/ -v
    only:
        - branches
        - merge_requests

fedora-wlroots0.19:
    extends: .fedora
    variables:
        WLROOTS: pkgconfig(wlroots-0.19)

fedora-wlroots0.20:
    extends: .fedora
    variables:
        WLROOTS: pkgconfig(wlroots-0.20)
